/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}


h1 {
  font-family: 'Share Tech Mono', monospace;
  color: darkblue;
}

h2 {font-family: 'Russo One', sans-serif;
font-family: 'Share Tech', sans-serif;
color: blue}

h3, #header, .red-text {
  color: steelblue;}

p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}
