/* CSS files add styling rules to your content */

body {
  
  
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color:black;
  text-size-adjust: 100%;
  background-color:white;
  background-position:100% 100%;
  min-width: 100% ;
  min-height: 100%;

}

  .introdution{
  background-image: url('https://imgur.com/eES8eN9.gif');
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  color: darkblue;
}

h2 {font-family: 'Russo One', sans-serif;
font-family: 'Share Tech', sans-serif;
color: blue}

h3, #header, .red-text {
  color: steelblue;}

p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}
